Repository CityOfLosAngeles/aqueduct, pull requests merged in 2020-05, with the labels that each got.

#263 Fixing string issue for COVID testing dag
  dags/public-health/covid19/sync-covid-testing-data.py
Labels: covid19

#264 Fix JHU global data that wasn't updating and add csv urls to README
  dags/public-health/covid19/README.md
  dags/public-health/covid19/jhu-to-esri.py
Labels: covid19

#267 README updates
  dags/public-health/covid19/README.md
Labels: covid19

#269 GetHelp changed how it was reporting totals for safe parking
  dags/public-health/covid19/get-help-to-esri.py
Labels: covid19

#272 Follow-up to #269.
  dags/public-health/covid19/get-help-to-esri.py
Labels: covid19

#280 Update US county layer
  dags/public-health/covid19/README.md
  dags/public-health/covid19/Reopening_Indicators_Comparison.xlsx
  dags/public-health/covid19/coronavirus-indicators.ipynb
  dags/public-health/covid19/create-us-county-time-series.py
  dags/public-health/covid19/jhu-county-to-esri.py
  dags/public-health/covid19/utils.py
Labels: covid19

#281 Lock status
  dags/public-health/covid19/README.md
  dags/public-health/covid19/get-help-to-esri.py
  dags/public-health/covid19/jhu-county-to-esri.py
  dags/transportation/dockless/dockless_elt.py
Labels: covid19

#255 Create import_socrata.py
  README.md
  civis/imports/import_socrata.py
  civis/imports/socrata_helpers.py
Labels: civis

#282 Update county-MSA crosswalk
  dags/public-health/covid19/README.md
  dags/public-health/covid19/jhu-county-to-esri.py
  dags/public-health/covid19/make-crosswalk.py
  dags/public-health/covid19/msa_county_pop_crosswalk.csv
Labels: covid19

#283 Integrify MSA
  dags/public-health/covid19/README.md
  dags/public-health/covid19/jhu-county-to-esri.py
Labels: covid19

#288 Also restart flower webserver on deploy.
  scripts/restart_app.sh
Labels: plumbing

#284 Appease CI
  civis/imports/import_socrata.py
  civis/imports/socrata_helpers.py
Labels: civis

#293 New COVID-19 testing feature layer with LA County and City broken out
  dags/public-health/covid19/README.md
  dags/public-health/covid19/jhu-county-to-esri.py
  dags/public-health/covid19/jhu-to-esri.py
  dags/public-health/covid19/sync-bed-availability-data.py
  dags/public-health/covid19/sync-covid-testing-data.py
  dags/public-health/covid19/sync-la-cases-data.py
Labels: covid19

#294 Fix city testing DAG
  dags/public-health/covid19/README.md
  dags/public-health/covid19/sync-covid-testing-data.py
Labels: covid19

#296 Run dag again
  dags/public-health/covid19/README.md
  dags/public-health/covid19/sync-covid-testing-data.py
Labels: covid19
