Repository CityOfLosAngeles/aqueduct, pull requests merged in 2020-07, with the labels that each got.

#314 Util package
  civis/Dockerfile
  civis/README.md
  civis/civis-aqueduct-utils/README.md
  civis/civis-aqueduct-utils/civis_aqueduct_utils/__init__.py
  civis/civis-aqueduct-utils/civis_aqueduct_utils/share.py
  civis/civis-aqueduct-utils/civis_aqueduct_utils/static/extension.js
  civis/civis-aqueduct-utils/setup.py
Labels: civis

#317 Geohub import
  civis/Dockerfile
  civis/geohub/catalog.yml
  civis/geohub/geohub.py
  civis/geohub/geohub.yml
Labels: civis

#312 (Civis) Updating Socrata Import
  civis/imports/README.md
  civis/imports/import_socrata.py
  civis/imports/socrata_helpers.py
Labels: civis, for-civis

#335 Remove all COVID layers except for GetHelp.
  dags/public-health/covid19/README.md
  dags/public-health/covid19/jhu-county-to-esri.py
  dags/public-health/covid19/jhu-to-esri.py
  dags/public-health/covid19/make-crosswalk.py
  dags/public-health/covid19/msa_county_pop_crosswalk.csv
  dags/public-health/covid19/sync-bed-availability-data.py
  dags/public-health/covid19/sync-la-cases-data.py
  dags/public-health/covid19/utils.py
Labels: covid19

#328 Add notebook for creating public catalog for Civis data warehouses on github pages
  civis/meta/.gitignore
  civis/meta/civis-catalog.ipynb
  civis/meta/civis-catalog.yml
Labels: civis
